@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#top-header {
    background: black;
    color: rgb(245, 227, 255);
    display: flex;
    justify-content: space-between;
    font-family: 'Lobster', cursive;
}

#top-header > div {
    display: flex;
    margin: .5rem;
}

#menu-btn, #menu-btn img {
    display: none;
    position: absolute;  
}

#top-header #logo {
    align-self: center;
    color: white;
    margin: 0 1.5rem 0 0;
    font-size: 150%;
}

#top-header #search-btn {
    align-self: center;
    cursor: pointer;
    color: white;
    margin: 0 1.5rem 0 0;
    transition: 5s;
    animation: animate 5s infinite;
}


#header-details {
    align-self: center;
}

#header-details ul, #header-details ul li {
    display: flex;
    list-style: none;
    margin: 0 1rem 0 0;
}

#log-btn > div {
    margin: 0 1rem;
    padding: .4rem;
    background: #101020;
    border-radius: 1rem;
    box-shadow: inset 0 0 1px gold, 0 0 2px white;
}

#menu {
    display: none;
    position: absolute;
}

#btm-header {
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
    position: absolute;
    z-index: 1;
}

#btm-header.active {
    height: 8.3%;
    background: white;
}

#btm-header form {
    border: 1px solid lightgrey;
    border-radius: 2rem;
    display: flex;
    margin: .3rem;
    padding: .2rem;
    position: absolute;
    overflow: hidden;
    width: 30%;
}

#btm-header form input {
    width: 87%;
    outline: none;
    border: none;
    padding: .4em
}

#btm-header button {
    background: transparent;
    border: none;
}

#btm-header button img {
    width: 20px;
}

#slidebox {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

#slide {
    width: 600%;
    display: flex;
    animation: slide 20s infinite;
    position: absolute;
}

#slide img {
    width: 16.67%;
}

#left-btn{
    position: absolute;
    top: 40%;
    right: 0;
    opacity: 0.3;
}

#right-btn {
    position: absolute;
    top: 40%;
    left: 0; 
    opacity: 0.3;
}

#categories {
    box-shadow: 0 0 2px;
    border-radius: 2rem;
    display: inline-block;
    margin: 2rem 0 0 0;
}

#categories ul{
    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#categories ul li {
    box-shadow: 0 0 3px ;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
    cursor: pointer;
}

#category-items {
    display: flex;
    flex-wrap: wrap;
}

#category-items img {
    width: 200px;
    height: 200px;
}

.sub1.active {
    background: blue;
}



@media only screen and (max-width: 795px) {
    #top-header #log-btn {
        display: none;
    }
    
    #menu-btn, #menu-btn img {
        margin: .1rem;
        display: block;
        position:relative;
        
    }
    
    #header-details ul {
        display: none;
    }
    
    #menu {
        background: #101010;
        box-shadow: 0 0 5px black;
        color: lightgrey;
        display: block;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: .5s;
        position:absolute;
        z-index: 1;
    }
    
    #menu.active {
        width: 20em;
    }
    
    #menu #logo {
        font-size: 150%;
        color: grey;
        font-family: 'Lobster', cursive;
        margin-left: 8rem;
    }
    
    #slidebox {
            height: 50%;
        }
    
    @media only screen and (max-width: 330px) {
        #menu.active {
            width: 75%;
        }
        
        #menu #logo {
            margin-left: 4.5rem;
        }
        
        #slidebox {
            height: 40%
        }
        
    }
    
    #menu ul {
        text-align: left;
        padding: .5rem;
        line-height: 2.5;
        list-style: none;
        margin-left: 2rem;
        font-size: 90%;
        font-family: cursive;
    }
    
    #menu ul li:hover::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 1rem;
        background: purple;
        left: 30;
        margin-top: 1.2rem;
    }
    
    #log-btn {
        display: inline-block;
        border-top: 1px solid grey;
    }
    
    #log-btn div {
        margin: 1rem 0 0 2rem;
        font-family: 'Lobster', cursive;
        box-shadow: none;
    }
    
    #btm-header form {
        width: 60%;
    }
    
}










@keyframes slide {
    0%{left: 0%}
    10%{left: 0%}
    15%{left: -100%}
    25%{left: -100%}
    35%{left: -200%}
    45%{left: -200%}
    55%{left: -300%}
    65%{left: -300%}
    75%{left: -400%}
    85%{left: -400%}
    95%{left: -500%}
    100%{left: -500%}
}

@keyframes animate {
    90%{transform: rotateY(0deg)}
    95%{transform: rotateY(180deg)}
    100%{transform: rotateY(360deg)}
    
}


