@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
    background: url('backGs/body1.jpg');
}

body > div {
    width: 100%;
    overflow-x: hidden;
    background: white;
    box-shadow: 0 0 10px;
}

header {
    width: 100%;
    background: black;
    border-bottom: 3px solid black;
}

article {
    margin: 1rem 4rem 1rem 4rem;
    line-height: 1.4;
    word-spacing: 1.8;
}

#article {
    margin: 4rem 0;
    transform: scale(0.98);
    border-radius: .5rem;
    box-shadow: 0 0 5px;
    overflow-x: hidden;
    font-size: 140%;
}




footer {
    background: #141414;
    color: white;
    width: 100%;
    position: absolute;
    
}

footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
}

footer #logo {
    font-family: 'Lobster', cursive;
    font-size: 400%;
    align-self: center;
    margin-bottom: 5%;
}

#scroller-left img {
    transform: rotateY(180deg)
}

#subscribe-box {
    line-height: 2;
    margin-bottom: 5%;
    align-self: center;
}

#subscribe-box h3 {
    font-weight: bolder;
    font-size: 160%
}

#subscribe-box form {
    display: flex;
}

#subscribe-box form input {
    margin: 3;
    outline: none;
    border: none;
    padding: .8rem;
    border-radius: .2rem;
    font-weight: bolder;
}

#subscribe-box form input[type = "email"] {
    width: 100%;
    padding: 5;
}

#subscribe-box form input[type = "email"]::placeholder {
    background: url('mail.png');
    background-repeat: no-repeat;
    padding-left: 2rem;
    height: 25px;
    font-size: 80%;
}

#subscribe-box form input[type = "submit"] {
    background: transparent;
    color: white;
    border: 3px solid white;
    width: 20%;
}

#download-box {
    display: flex;
    align-self: center;
    white-space: nowrap;
    margin-bottom: 5%;
}

#download-box #playstore, #applestore {
    display: flex;
    margin: 2px;
    border: 3px solid white;
    border-radius: .5rem;
    padding: 3px;
}

#download-box #playstore p, #applestore p {
    font-size: 60%;
}

#download-box #playstore span, #applestore span {
    font-size: 190%;
}

#download-box #playstore img, #applestore img {
    width: 28px;
    height: 28px;
    align-self: center;
}

#applestore img {
    filter: invert();
}

#footer-content {
    display: flex;
    flex-wrap: wrap;
}

#footer-content div {
    line-height: .7;
}

#footer-content h3 {
    line-height: 3;
    font-size: 75%
}

#footer-content li {
    list-style: none;
    margin-top: 5%;
}

#social-media {
    margin-top: 6%;
}

#social-media h3 {
    font-size: 75%;
    text-align: center;
}

#social-icons img {
    margin-right: 1rem;
}

#payment-icons img {
    margin-right: 1rem;
    width: 30px;
    height: 30px;
}

#copyright {
    margin-top: 6%;
    word-spacing: 10;
    font-style: italic;
    color: grey;
}

#top-header {
    background: #303;
    color: rgb(245, 227, 255);
    display: flex;
    justify-content: space-between;
    font-family: 'Lobster', cursive;
    position: relative;
    width: 100%;
}

#top-header.active {
    position: fixed;
    width: 100%;
    z-index: 5;
}

#top-header > div {
    display: flex;
    margin: .5rem;
}

#menu-btn, #menu-btn img {
    display: none;
    position: absolute;  
}

#top-header #logo {
    align-self: center;
    color: white;
    margin: 0 1.5rem 0 0;
    font-size: 150%;
}

#top-header #search-btn {
    align-self: center;
    cursor: pointer;
    color: white;
    margin: 0 1.5rem 0 0;
    transition: 5s;
    animation: animate 5s infinite;
}


#header-details {
    align-self: center;
}

#header-details ul, #header-details ul li {
    display: flex;
    list-style: none;
    margin: 0 1rem 0 0;
}

#log-btn > div {
    margin: 0 1rem;
    padding: .4rem;
    border-radius: .5rem;
    box-shadow: inset 0 0 1px;
}

#menu {
    display: none;
}

#btm-header {
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .2s;
    position: fixed;
    z-index: 1;
}

#btm-header.active {
    height: 100%;
    background: white;
    color: black;
    align-items: center;
}

#btm-header form {
    border: 1px solid lightgrey;
    border-radius: 2rem;
    display: flex;
    margin: .3rem;
    padding: .2rem;
    position: absolute;
    overflow: hidden;
    width: 30%;
}

#btm-header form input {
    width: 87%;
    outline: none;
    border: none;
    padding: .4em
}

#btm-header button {
    background: transparent;
    border: none;
}

#btm-header button img {
    width: 20px;
}

#slidebox {
    height: 80%;
    overflow: hidden;
    position: relative;
    margin: .0 .1rem 0 .1rem;
}

#slide {
    width: 600%;
    display: flex;
    animation: slide 20s infinite;
    position: absolute;
}

#slide img {
    width: 16.67%;
}

#left-btn{
    position: absolute;
    top: 40%;
    right: 0;
    opacity: 0.3;
}

#right-btn {
    position: absolute;
    top: 40%;
    left: 0; 
    opacity: 0.3;
}


#categories {
    width: 100%;
    overflow: hidden;
    margin-top: 6rem;
    margin-bottom: 10rem;
}

#categories .content {
    width: 12rem;
    height: 65px;
    box-shadow: 0 0 2px grey; 
    display: flex;
    justify-content: space-around;
    padding: .3rem;
    margin: .5rem;
    margin-right: 2rem;
    transition: .2s;
}

#categories .content:hover {
    transform: scale(1.1);
}
    
#category-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#categories h2 {
    font-size: 60%;
    font-weight: bolder;
    margin: 5px;
    display: none;
}
    
#categories .content b {
     align-self: center;
}

#categories .content-img {
    width: 40%;
    align-self: center;
}
    
#categories .content-img img {
    width: 80%;
}

#android {
    margin-top: 4rem;
    text-align: left;
    transform: scale(0.98);
    border-radius: .5rem;
    box-shadow: 0 0 5px;
    overflow-x: hidden;
    height: 50%;
}

#android h2 {
    font-size: 25;
    font-style: italic;
    display: inline-block;
    margin: 1rem;
}

#all-category {
    width: 100%;
    background: orange;
    
}

#all-category ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95%;
    list-style: none;
    margin-left: 5px;
}

#all-category ul li {
    align-self: center;
    box-shadow: 0 0 2px grey;
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-right: .9rem;
    margin: 5px;
    padding: .5rem;
    text-align: center;
    background: white;
    border-radius: .3rem
}

#all-category ul li:focus {
    background: deepskyblue;
    outline: none;
}

.android-items {
    display: flex;
    justify-content: flex-start;
    width: 98%;
    margin-top: 1rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

#item-scroller {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 80%;
}

#item-scroller > div {
    border-radius: 3rem;
    opacity: 1;
    width: 40px;
    overflow: hidden;
    animation: live 2s infinite;
    transition: .4s;
    background: orange;
    filter: invert();
}

#item-scroller > div img {
    width: 100%;
}



.android-items::-webkit-scrollbar {
    display: none;
}

.android-items img {
    width: 8rem;
    margin: 5px;
}

#pointup {
    position: fixed;
    bottom: 200;
    border-radius: 2rem;
    box-shadow: 0 0 5px grey;
    right: 0;
    margin: 2rem;
    visibility: hidden;
    width: 30px;
    height: 30px;
    transition: 1s;
}

#pointup.active {
    visibility: visible;
    z-index: 100;
}

@media only screen and (max-width: 795px) {
    #top-header #log-btn {
        display: none;
    }
    
    #categories .content-img {
        width: 20%;
        align-self: center;
    }
    
    #menu-btn, #menu-btn img {
        margin: .1rem;
        display: block;
        position:relative;
    }
    
    #menu-btn img {
        filter: invert(1);
    }
    
    #header-details ul {
        display: none;
    }
    
    #menu {
        background: #101010;
        box-shadow: 0 0 5px black;
        color: lightgrey;
        display: block;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: .5s;
        top: 0;
        position: fixed;
        z-index: 4;
    }
    
    #menu.active {
        width: 20em;
    }
    
    #menu #logo {
        font-size: 150%;
        color: grey;
        font-family: 'Lobster', cursive;
        margin-left: 8rem;
    }
    
    #slidebox {
            height: 50%;
        }
    article {
            font-size: 60%;
        }
    
        #article span {
            display: none;
        }
    
    @media only screen and (max-width: 283px) {
        
        article {
            font-size: 50%;
        }
        
        #menu.active {
            width: 75%;
        }
        
        #menu #logo {
            margin-left: 4.5rem;
        }
        
        #slidebox {
            height: 40%
        }
        
        #all-category  ul {
            font-size: 70%;
        }
        
    }
    @media only screen and (max-width: 360px) {
        
        #android {
            height: 70%
        }
        
        #all-category {
            font-size: 70%;
        }
        
        article {
            margin: 1rem;
            font-size: 80%;
        }
        
        
        
    }
    
    #menu ul {
        text-align: left;
        padding: .5rem;
        line-height: 2.5;
        list-style: none;
        margin-left: 2rem;
        font-size: 90%;
        font-family: cursive;
        display: grid;
    }
    
    #menu ul li {
        display: inline-block;
        width: 20%
    }
    
    #menu ul li:hover::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 1rem;
        background: purple;
        left: 30;
        margin-top: 1.2rem;
        cursor: pointer;
    }
    
    #log-btn {
        display: inline-block;
        border-top: 1px solid grey;
    }
    
    #log-btn div {
        margin: 1rem 0 0 2rem;
        font-family: 'Lobster', cursive;
        box-shadow: none;
        cursor: pointer;
    }
    
    #btm-header form {
        width: 60%;
    }
    
    #categories {
        margin: 1rem;
        margin-bottom: 10rem;
    }
    
    #categories .content {
        box-shadow: non;
        display: flex;
        flex-direction: column;
        width: 9rem;
        padding: 1rem;
        margin: 1rem;
        justify-content: center;
    }
    
    #category-box {
        justify-content: center;
        width: 80%;
        margin-left: 1rem;
    }
    
    #categories .content h2 {
        display: block;
        text-align: center;
    }
    
    #categories .content b {
        display: none;
        width: 0px;
    }
    
    
    #footer-content {
        justify-content: center;
    }
    
    #footer-content div {
        line-height: .7;
        margin-top: 5%;
        margin: 1rem;
    }
    
    #first > div {
        margin-top: 3rem;
    }
    
}








@keyframes slide {
    0%{left: 0%}
    10%{left: 0%}
    11%{left: -100%}
    25%{left: -100%}
    27%{left: -200%}
    45%{left: -200%}
    47%{left: -300%}
    65%{left: -300%}
    67%{left: -400%}
    85%{left: -400%}
    87%{left: -500%}
    100%{left: -500%}
}

@keyframes animate {
    90%{transform: rotateY(0deg)}
    95%{transform: rotateY(180deg)}
    100%{transform: rotateY(360deg)}
    
}

@keyframes live {
    0%{transform: scale(.9); opacity: .9}
    50%{transform: scale(1); opacity: 1}
    100%{transform: scale(.9); opacity: .9}
}


